name: cypari2

on:
    pull_request:
        types: [opened, synchronize]
    push:
        tags:
            - '*'

jobs:
    build:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest]
                python-version: ['3.10', '3.11']
                pari-version: ['pari-2.11.4', 'pari-2.13.0', 'pari-2.15.4']
        env:
          LC_ALL: C
          PARI_VERSION: ${{ matrix.pari-version }}
        steps:
        - name: Set up the repository
          uses: actions/checkout@v2
        - name: Set up Python ${{ matrix.python-version }}
          uses: actions/setup-python@v2
          with:
            python-version: ${{ matrix.python-version }}
        - name: Install pari
          run: |
              ccache -M 256M && ccache -s
              export PATH="/usr/lib/ccache:$PATH"
              bash -x .install-pari.sh
        - name: Local build
          run: |
            pip install sphinx cython cysignals
            make build
            make install
            make check
            (cd docs && make html)
